body {
  font-family: "Orbitron", sans-serif;
  color: white;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/327/original/retrowave-sci-fi-neon-gradient-grid-space-cyberpunk-synthwave-background-video.jpeg?1685829591");
  background-size: cover;

  animation: slidein 100s;

  animation-fill-mode: forwards;

  animation-iteration-count: infinite;

  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 1600px;
  }
  to {
    background-position: -100px 0px;
    background-size: 1350px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 1600px;
  }
  to {
    background-position: -100px 0px;
    background-size: 1350px;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}
h1 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: linear-gradient(-225deg, #ff3cac 0%, #562b7c 52%, #2b86c5 100%);
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 80px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

select {
  color: black;
  font-family: "Orbitron", sans-serif;
}
a {
  color: hotpink;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

footer {
  text-align: center;
  font-size: 18px;
  color: white;
}
